<body>
 <!-- ======= Header ======= -->
 <header id="header" class="d-flex align-items-center">
  <div class="container d-flex align-items-center">

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
        <li><a class="nav-link scrollto" href="#about" routerLink="/login">Login</a></li>
        <li><a class="nav-link scrollto" href="#features" routerLink="/signup">Sign Up</a></li>
        <li><a class="nav-link scrollto" routerLink="/poste">Poste</a></li>

      <i class="bi bi-list mobile-nav-toggle"></i>
      </ul>
    </nav><!-- .navbar -->
  </div>
</header><!-- End Header -->

<p>Hello World</p>

</body>

  <!-- <router-outlet></router-outlet> -->
