<head>
  <link
    rel="canonical"
    href="https://www.wrappixel.com/templates/ample-admin-lite/"
  />
  <!-- Favicon icon -->
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="assets/plugins/images/favicon.png"
  />
  
  <!-- Custom CSS -->
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.11.4/chartist.min.css"
    rel="stylesheet"
  />
</head>
<body>
  <p>Hi Guys, it's Sams !</p>
  <p>I urge you to configure the dashboard and other features yourself as soon as possible!</p>
</body>
